<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Create a New Writing Project</h1>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 well">
            <h3>Upload a word or pdf file here:</h3>
                <%= bootstrap_form_for([current_user, @version]) do |v| %>
                    <%= v.text_field :title, class: "form-control" %>
                    <%= v.file_field :body, :method => :post, class: "form-control" %>
                    <%= v.submit "Submit", class: "btn btn-success" %>
                <% end %>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md"></div>
        <div class="col-md-12 well">
            <h3>Or Copy and Paste a File Into Here:</h3>
                <%= bootstrap_form_for([current_user, @version]) do |v| %>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-4">
                            <%= v.text_field :title, class: "form-control" %>
                            <%= v.text_area :body, :method => :post, class: "text-editor", id: "elm1", name: "area" %>
                        </div>
                        <div class="col-md-7"></div>
                    </div>
                    <%= v.submit "Submit", class: "btn btn-success" %>
                <% end %>
        </div>
        <div class="col-md"></div>
    </div>
</div>
